.container {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc{
    display: grid;
    grid-template-rows: 1fr 3fr;
    height: 600px;
}

.display {
    grid-row: 1 / 2;
}

.result {
    font-size: 60px;
}

.buttons {
    grid-row: 2 / 3;
    display:grid;
}