html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.calc{
    display: grid;
    grid-template-rows: auto;
    height: 500px;
    width: 400px
}

.display {

}

.result {
    font-size: 60px;
}

.buttons {
    display:grid;
}

.numbers {
    
}